{% extends 'base.html.twig' %}

{% block title %}Hello NotaController!
{% endblock %}

{% block body %}
{% include "common/_messages.html.twig" %}
	<div class="example-wrapper">
		<h1 class="text-info">Hello
			{{ controller_name }}! ✅</h1>

		<table class="table">
			<thead>
				<th>ID</th>
				<th>Título</th>
				<th>Descripción</th>
			</thead>
				<tr>
					<td>{{ nota.id }}</td>
					<td>{{ nota.titulo }}</td>
					<td>{{ nota.descripcion }}</td>
				</tr>
		</table>
	</div>
{% endblock %}
